@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply font-display bg-surface text-white min-h-screen antialiased;
}

a {
  @apply text-brand-500 underline-offset-4 hover:text-brand-100;
}
